<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="width:100%; height:800px; border:1px solid #000;">
    <iframe src="about:blank" id="video"></iframe>
  </div>

  <script>
  (async function() {
    document.getElementById("video").setAttribute("src", `http://${location.hostname}:8888/scope`);
  })();
  </script>
</body>
</html>