<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLOUDSCOPE 설정</title>
  <style>
  li.selected { background-color:#0033aa; color:#fff; }
  </style>
</head>
<body>
  <h1>CLOUDSCOPE 설정 페이지</h1>

  <ul id="wifiList">
  </ul>
  WIFI 비밀번호 <input type="text" id="wifiPassword"><br>
  이 장치를 식별할 이름 <input type="text" id="deviceName" placeholder="6글자 이상 입력하세요"><br>
  <button id="btnEnter">설정하기</button>
  <p>설정하기를 누르면 장치가 다시 시작합니다.</p>

  <script src="/js/jquery-3.7.0.min.js"></script>
  <script>
  // 30초마다 WIFI 스캔 결과 갱신
  let selectedWifiSsid = "";
  setInterval(function() {
    console.log("scan 요청");
    $.ajax({
      method: "get",
      url: "/proc/scan",
      dataType: "json",
      success: function(response) {
        console.log(response);

        $("#wifiList").html('');
        for(let i=0; i<response.length; i+=1) {
          $("#wifiList").append(`<li data-ssid="${response[i].ssid}" class="ssid ${selectedWifiSsid==response[i].ssid?'selected':''}">${response[i].ssid}</li>`);
        }
        $("li.ssid").css("cursor", "pointer").on("click", function(ev) {
          $("li.ssid").removeClass("selected");
          $(ev.target).addClass("selected");
          selectedWifiSsid = $(ev.target).attr("data-ssid");
        });
      }
    })
  }, 5*1000);
  $("#btnEnter").on("click", function() {
    if(selectedWifiSsid=="") { alert("이 장치를 연결할 공유기를 선택하세요."); return; }
    let wifiPassword = $("#wifiPassword").val();
    let deviceName = $("#deviceName").val();
    if(deviceName.trim().length<6) { alert("이 장치를 식별하기 위한 이름을 6글자 이상 입력하세요."); $("#deviceName").focus(); return; }
    $.ajax({
      method: "get",
      url: "/proc/register",
      data: {
        ssid: selectedWifiSsid,
        passwd: wifiPassword,
        deviceName: deviceName
      },
      success: function() {
        $(document).html('<h1>CLOUDSCOPE 에 대한 설정을 마치는 중...</h1><p>잠시 후 설정이 완료됩니다. 이 컴퓨터의 WIFI를 공유기로 다시 연결하고, https://cloudscope.invisionlab.xyz 로 이동하여 계속 진행하십시오.</p>');
      }
    })
  });
  </script>
</body>
</html>